<form action="/check" method="post" style="display: flex; justify-content: center; align-items: center; height: 100%">
    <input type="number" name="age">
    <button type="submit">Acessar</button>
</form>